<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif;">
    <div style="display: flex; justify-items: center; align-items: center; flex-direction: column;"></div>
      <h2>Verify Email</h2>

      <p>Your OTP is:</p>

      <h1 style="letter-spacing: 6px; border: 1px solid black; width: fit-content; padding-left: 10px; padding-right: 10px;"><%= otp %></h1>

      <p>Expires in <%= expiry %> minutes.</p>

      <hr />

      <p style="font-size: 12px; color: #777">
        If you didnt request this, ignore the email.
      </p>
    </div>
  </body>
</html>
