@import "tailwindcss";

@theme{
  --color-dark: #005b4c;
  --color-muted: #bdb19f;
  --color-light: #f5e9d6;
  --color-highlight: #ffeeca;
}
*{
  scroll-behavior: smooth;
  /* border: red 1px solid; */
}
.scrollBar{
  scrollbar-color: transparent transparent;
}
.no-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE & old Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
