@import "tailwindcss";

@theme{
  --color-dark: #005b4c;
  --color-muted: #bdb19f;
  --color-light: #f5e9d6;
  --color-highlight: #ffeeca;
}
*{
  scroll-behavior: smooth;
  /* border: red 1px solid; */
}
.scrollBar{
  scrollbar-color: transparent transparent;
}
.no-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE & old Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
.thin-scrollbar{
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
button{
  cursor: pointer;
}
@keyframes notification-enter {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.96);
  }
  60% {
    opacity: 1;
    transform: translateY(-4px) scale(1.01);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes notif-enter {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes notif-exit {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(20px) scale(0.96);
  }
}

.notif {
  animation: notif-enter 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.notif-hide {
  animation: notif-exit 2s ease forwards;
}
